# Gold Transformations Samuel L. Jackson movies and series

In [1]:
from pyspark.sql import SparkSession
from IPython.display import display as disp

spark = SparkSession.builder.getOrCreate()

### Load data

In [2]:
movies = spark.read.parquet("../Silver/movies/*")

series = spark.read.parquet("../Silver/series/*")

genres = spark.read.parquet("../Silver/genres/*")

In [3]:
movies.toPandas()

,adult,backdrop_path,character,credit_id,genre_ids,id,order,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,job,department,year
0,False,None,,5eed5af859e8a90037c97c8f,[99],90322,7,en,On the Shoulders of Giants,The story of the Harlem Rens: the greatest bas...,1.751,/o818WqAGsDECwgYgb6qnhU8iVLY.jpg,2011-02-11,On the Shoulders of Giants,False,6.300,3,Actor,Cast,2011.0
1,False,None,Narrator (voice),63bb96d7fc31d3008bce98de,"[35, 16]",1071653,0,en,Go the F**k to Sleep,Academy Award nominee Samuel L. Jackson (Pulp ...,0.680,/pjWot633QpEtbDx2f16mEvXPxUX.jpg,2011-06-13,Go the F**k to Sleep,True,0.000,0,Actor,Cast,2011.0
2,False,/iraunnwrss2DJy4xayyntWHaAZR.jpg,Black,52fe4915c3a36847f8188413,"[18, 10770]",56831,1,en,The Sunset Limited,A deeply religious black ex-con thwarts the su...,8.247,/8cwqylJVbCfMflcjXQ71CwsXdpf.jpg,2011-02-12,The Sunset Limited,False,7.183,427,Actor,Cast,2011.0
3,False,/cDJ61O1STtbWNBwefuqVrRe3d7l.jpg,Nick Fury (uncredited),52fe433f9251416c75009269,"[12, 14, 28]",10195,51,en,Thor,"Against his father Odin's will, The Mighty Tho...",58.038,/prSfAi1xGrhLQNxVSUFh61xQ4Qy.jpg,2011-04-21,Thor,False,6.770,21080,Actor,Cast,2011.0
4,False,/ozIhpAb69vQahq5obDlRGP87Y0m.jpg,Self,5f89bc1823851300373ada3f,"[99, 28, 12, 53]",503210,11,en,Return to Jurassic Park,A multi-part documentary about the making of t...,12.444,/mPyu59cDdmMDDW9IOtfjVlM0THd.jpg,2011-02-05,Return to Jurassic Park,False,6.600,835,Actor,Cast,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,False,None,None,61488354e5593700299758a6,"[99, 36]",876246,0,en,Enslaved with Samuel L Jackson,What happened to the 12 million Africans stole...,1.256,/1xIniwK36LXgF6HmSLduDeRRM6X.jpg,2020-09-14,Enslaved with Samuel L Jackson,False,0.000,0,Executive Producer,Production,2020.0
245,False,/dzoLlCiMhraAfCjQuudyVLcl8Le.jpg,None,5672f7f192514163bf002e9f,[18],45153,0,en,Eve's Bayou,Summer heats up in rural Louisiana beside Eve’...,10.683,/lVSYTzH2mO46XiBBY5wbZlW6wYT.jpg,1997-11-07,Eve's Bayou,False,6.383,128,Producer,Production,1997.0
246,False,/lmTbufMBEvi6ZNwvdbvz9wQkyXy.jpg,Extra (uncredited),595438dac3a3681388042d7d,[28],37835,21,en,The Exterminator,When a man's best friend is killed on the stre...,9.265,/8u49TsGXYYR3mkiuJ12GswGtkCA.jpg,1980-09-10,The Exterminator,False,5.600,123,Actor,Cast,1980.0
247,False,None,Stan,52fe497f9251416c910af365,[18],86300,2,en,Together for Days,A black radical activist and a young White wom...,0.906,/fSZMcOnNagnFGjd6c3M5uxrvpBs.jpg,1972-11-30,Together for Days,False,8.000,2,Actor,Cast,1972.0
248,False,None,Sulk,5359f768c3a36847a1000d77,"[18, 10770]",266547,5,en,The Displaced Person,A conscientious but driven Polish refugee disr...,4.410,/n7sNxmOzD7r79wxQwJ7aSPdTovF.jpg,1977-04-12,The Displaced Person,False,7.000,2,Actor,Cast,1977.0

In [4]:
series.toPandas()

,adult,backdrop_path,character,credit_id,episode_count,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count,job,department,year
0,False,None,Self,52574d89760ee36aaa16bf39,1.0,1999-11-01,[10763],3167,The Early Show,[US],en,The Early Show,The Early Show is an American morning televisi...,7.866,/iJvwr7kL0Q7BtrYC38KQ5baPw7g.jpg,5.700,7,Actor,Cast,1999.0
1,False,/m0bV3qBiJBBlpFaaKjwHo13MVjm.jpg,Self,615dc0716beaea008c54c969,2.0,2005-01-03,"[35, 10767]",14981,The Late Late Show with Craig Ferguson,[US],en,The Late Late Show with Craig Ferguson,The Late Late Show with Craig Ferguson is an A...,383.153,/gGC7zSDgG0FY0MbM1pjfhTCWQBI.jpg,6.755,94,Actor,Cast,2005.0
2,False,/Ajku4m7jbMpCTEPr794Imv19mCA.jpg,,52576716760ee36aaa38bd47,1.0,2005-10-17,"[10763, 35]",4385,The Colbert Report,[US],en,The Colbert Report,The Colbert Report is an American satirical la...,189.580,/pn2CVXjOlR8kY5MgOTJjZ71IM0Q.jpg,6.800,261,Actor,Cast,2005.0
3,False,/m0bV3qBiJBBlpFaaKjwHo13MVjm.jpg,An Officer of the Law,612f574ac1ffbd002b9870dc,1.0,2005-01-03,"[35, 10767]",14981,The Late Late Show with Craig Ferguson,[US],en,The Late Late Show with Craig Ferguson,The Late Late Show with Craig Ferguson is an A...,383.153,/gGC7zSDgG0FY0MbM1pjfhTCWQBI.jpg,6.755,94,Actor,Cast,2005.0
4,False,/dtzDqJx7D9wLYkK5M38JkfcPmAa.jpg,,52573e40760ee36aaa05e56d,3.0,2005-11-06,"[10759, 35, 16]",2604,The Boondocks,[US],en,The Boondocks,When Robert “Granddad” Freeman becomes legal g...,86.301,/vAvT2RXjOpgH0COriRm9riPqA0m.jpg,8.164,342,Actor,Cast,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,False,/tpfaQASbtioCPQLeqq4v66IplHb.jpg,,56184931c3a368244e00071e,1.0,2013-02-25,"[10767, 35]",53438,Circus Halligalli,[DE],de,Circus Halligalli,"A late night talk show, hosted by Joko and Klaas.",20.735,/9PLCJFW7retN7JLWcrzJZnV7oip.jpg,5.400,9,Actor,Cast,2013.0
78,False,/6mOK9j99OFlxGc3ird2jWUeUha9.jpg,None,6426daed01b1ca00777a1397,6.0,2023-06-21,"[18, 10765, 10759]",114472,Secret Invasion,[US],en,Secret Invasion,Nick Fury and Talos discover a faction of shap...,280.056,/f5ZMzzCvt2IzVDxr54gHPv9jlC9.jpg,6.709,1089,Executive Producer,Production,2023.0
79,False,/6mOK9j99OFlxGc3ird2jWUeUha9.jpg,Nick Fury,64a229e5c390c500ca00abdb,6.0,2023-06-21,"[18, 10765, 10759]",114472,Secret Invasion,[US],en,Secret Invasion,Nick Fury and Talos discover a faction of shap...,280.056,/f5ZMzzCvt2IzVDxr54gHPv9jlC9.jpg,6.709,1089,Actor,Cast,2023.0
80,False,/9giQxevgoCWfSfXALGmuaXmqEq0.jpg,Self,6144ffe285da120020b8d4f2,8.0,1996-07-22,"[10763, 35]",2224,The Daily Show,[US],en,The Daily Show,The World's Fakest News Team tackle the bigges...,283.339,/ixcfyK7it6FjRM36Te4OdblAq4X.jpg,6.358,533,Actor,Cast,1996.0
81,False,None,None,52596207760ee346619721b7,NaN,,[35],42533,Cordell And Coneil,[US],en,Cordell And Coneil,,0.844,None,0.000,0,Creator,Creator,NaN

In [5]:
genres.toPandas()

       id                name
0   10766                Soap
1   10759  Action & Adventure
2      27              Horror
3     878     Science Fiction
4      53            Thriller
5      36             History
6   10752                 War
7   10764             Reality
8   10770            TV Movie
9   10763                News
10  10749             Romance
11     18               Drama
12  10762                Kids
13  10765    Sci-Fi & Fantasy
14  10751              Family
15     80               Crime
16  10767                Talk
17     37             Western
18  10402               Music
19     99         Documentary
20  10768      War & Politics
21     16           Animation
22     14             Fantasy
23   9648             Mystery
24     12           Adventure
25     28              Action
26     35              Comedy

In [6]:
# Getting only the relevant columns

# He's never done adult movies
# backdrop_path, credit_id, order, poster_path and video are useless for this analysis
movies_df = movies.drop("adult", "backdrop_path", "credit_id", "order", "poster_path", "video")

series_df = series.drop("adult", "backdrop_path", "credit_id", "poster_path")

In [7]:
movies_df.toPandas()

,character,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count,job,department,year
0,,[99],90322,en,On the Shoulders of Giants,The story of the Harlem Rens: the greatest bas...,1.751,2011-02-11,On the Shoulders of Giants,6.300,3,Actor,Cast,2011.0
1,Narrator (voice),"[35, 16]",1071653,en,Go the F**k to Sleep,Academy Award nominee Samuel L. Jackson (Pulp ...,0.680,2011-06-13,Go the F**k to Sleep,0.000,0,Actor,Cast,2011.0
2,Black,"[18, 10770]",56831,en,The Sunset Limited,A deeply religious black ex-con thwarts the su...,8.247,2011-02-12,The Sunset Limited,7.183,427,Actor,Cast,2011.0
3,Nick Fury (uncredited),"[12, 14, 28]",10195,en,Thor,"Against his father Odin's will, The Mighty Tho...",58.038,2011-04-21,Thor,6.770,21080,Actor,Cast,2011.0
4,Self,"[99, 28, 12, 53]",503210,en,Return to Jurassic Park,A multi-part documentary about the making of t...,12.444,2011-02-05,Return to Jurassic Park,6.600,835,Actor,Cast,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,None,"[99, 36]",876246,en,Enslaved with Samuel L Jackson,What happened to the 12 million Africans stole...,1.256,2020-09-14,Enslaved with Samuel L Jackson,0.000,0,Executive Producer,Production,2020.0
245,None,[18],45153,en,Eve's Bayou,Summer heats up in rural Louisiana beside Eve’...,10.683,1997-11-07,Eve's Bayou,6.383,128,Producer,Production,1997.0
246,Extra (uncredited),[28],37835,en,The Exterminator,When a man's best friend is killed on the stre...,9.265,1980-09-10,The Exterminator,5.600,123,Actor,Cast,1980.0
247,Stan,[18],86300,en,Together for Days,A black radical activist and a young White wom...,0.906,1972-11-30,Together for Days,8.000,2,Actor,Cast,1972.0
248,Sulk,"[18, 10770]",266547,en,The Displaced Person,A conscientious but driven Polish refugee disr...,4.410,1977-04-12,The Displaced Person,7.000,2,Actor,Cast,1977.0

In [8]:
# There are some series in wich samuel did himself. Those are listed as "Self" or "Samuel L. Jackson". I'll padronize that.

series_df.filter("character == 'Self' or character == 'Samuel L. Jackson'").toPandas()

,character,episode_count,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,vote_average,vote_count,job,department,year
0,Self,1,1999-11-01,[10763],3167,The Early Show,[US],en,The Early Show,The Early Show is an American morning televisi...,7.866,5.700,7,Actor,Cast,1999
1,Self,2,2005-01-03,"[35, 10767]",14981,The Late Late Show with Craig Ferguson,[US],en,The Late Late Show with Craig Ferguson,The Late Late Show with Craig Ferguson is an A...,383.153,6.755,94,Actor,Cast,2005
2,Self,1,2005-11-17,[99],14652,Iconoclasts,[US],en,Iconoclasts,Iconoclasts is a Sundance Channel show. Each e...,4.559,6.000,1,Actor,Cast,2005
3,Samuel L. Jackson,1,2005-07-21,[35],2693,Extras,[GB],en,Extras,Andy Millman gave up his day job five years ag...,28.610,7.800,356,Actor,Cast,2005
4,Self,1,1952-01-14,"[10763, 10767]",1709,Today,[US],en,Today,Today is a daily American morning television s...,13.180,5.538,26,Actor,Cast,1952
5,Self,1,1948-01-01,[10764],89293,Bambi Awards,[DE],de,Bambi-Verleihung,"The Bambi, often called the Bambi Award and st...",58.177,9.000,1,Actor,Cast,1948
6,Self,1,1998-01-09,[10767],213221,Parkinson,[US],en,Parkinson,Michael Parkinson returns for a second run of ...,24.388,0.000,0,Actor,Cast,1998
7,Self,1,1998-06-23,[99],23715,AFI's 100 Years... 100 Movies,[US],en,AFI's 100 Years... 100 Movies,To commemorate the first century of American f...,17.770,8.167,6,Actor,Cast,1998
8,Self,1,2011-07-07,[99],40058,Dynamo: Magician Impossible,[GB],en,Dynamo: Magician Impossible,Tipped as the most exciting British magician t...,11.214,6.700,25,Actor,Cast,2011
9,Self,1,2011-09-03,"[10767, 35]",40302,The Jonathan Ross Show,[GB],en,The Jonathan Ross Show,The Jonathan Ross Show is a British chat show ...,37.705,4.700,19,Actor,Cast,2011
10,Self,2,2021-02-17,"[99, 10763, 10768]",118043,Amend: The Fight for America,[US],en,Amend: The Fight for America,"When the United States of America was founded,...",13.176,7.100,163,Actor,Cast,2021
11,Self,1,2015-08-02,[10767],63498,Close Up with The Hollywood Reporter,[US],en,Close Up with The Hollywood Reporter,Some of this year's most talked about talent o...,60.680,5.735,17,Actor,Cast,2015
12,Self,2,2015-09-08,"[35, 10767]",63770,The Late Show with Stephen Colbert,[US],en,The Late Show with Stephen Colbert,Stephen Colbert brings his signature satire an...,249.925,6.571,275,Actor,Cast,2015
13,Self,4,2022-01-28,[99],122296,JANET JACKSON.,[US],en,JANET JACKSON.,The documentary takes viewers through Janet Ja...,5.779,8.000,16,Actor,Cast,2022
14,Self,1,1995-09-10,"[10767, 35]",14608,The Frank Skinner Show,[GB],en,The Frank Skinner Show,The Frank Skinner Show was a television chat s...,16.303,7.500,2,Actor,Cast,1995
15,Self,6,2020-09-14,[99],107530,Enslaved,"[CA, US]",en,Enslaved,A look at 400 years of human trafficking from ...,3.248,6.700,3,Actor,Cast,2020
16,Self,1,2014-12-21,[10767],105197,Variety Studio: Actors on Actors,[US],en,Variety Studio: Actors on Actors,PBS SoCal and Variety take you inside the bigg...,70.507,4.429,7,Actor,Cast,2014
17,Self,3,2014-02-17,"[35, 10767]",59941,The Tonight Show Starring Jimmy Fallon,[US],en,The Tonight Show Starring Jimmy Fallon,After Jay Leno's second retirement from the pr...,434.278,5.800,312,Actor,Cast,2014
18,Self,1,2004-02-03,[99],77132,America Beyond the Color Line,[US],en,America Beyond the Color Line,"Henry Louis Gates Jr., Harvard's chair of Afro...",3.217,6.000,1,Actor,Cast,2004
19,Self,1,2012-03-24,[99],43221,Finding Your Roots,[US],en,Finding Your Roots,"Noted Harvard scholar Henry Louis Gates, Jr. ...",44.229,6.200,12,Actor,Cast,2012
20,Self,2,2003-01-26,"[10767, 35]",1489,Jimmy Kimmel Live!,[US],en,Jimmy Kimmel Live!,Jimmy Kimmel Live! is an American late-night t...,109.342,5.532,157,Actor,Cast,2003
21,Self,5,2003-09-08,"[35, 10767]",562,The Ellen DeGeneres Show,[US],en,The Ellen DeGeneres Show,"The Ellen DeGeneres Show, often shortened to j...",67.798,5.777,155,Actor,Cast,2003
22,Self,1,1971-01-28,"[35, 99, 18]",10029,Great Performances,[US],en,Great Performances,The best in the performing arts from across Am...,72.286,5.188,16,Actor,Cast,1971
23,Self,7,1997-08-11,[10767],2221,The View,[US],en,The View,"ABC Daytime's morning chatfest, currently feat...",104.020,4.500,94,Actor,Cast,1997
24,Self,1,1997-07-23,[10763],111979,Leute heute,[DE],de,Leute heute,,159.988,3.000,3,Actor,Cast,1997
25,Self,1,2017-08-08,[35],72610,Carpool Karaoke: The Series,[US],en,Carpool Karaoke: The Series,Celebrity pairings ride along in a car togethe...,47.951,5.891,32,Actor,Cast,2017
26,Self,9,1953-03-19,[],27023,The Oscars,[US],en,The Oscars,An annual American awards ceremony honoring ci...,29.955,7.000,65,Actor,Cast,1953
27,Self,5,2007-02-22,"[35, 10767]",1220,The Graham Norton Show,[GB],en,The Graham Norton Show,Each week celebrity guests join Irish comedian...,246.896,7.200,250,Actor,Cast,2007
28,Self,1,2009-06-14,"[10767, 35]",19105,Alan Carr: Chatty Man,[GB],en,Alan Carr: Chatty Man,Alan Carr: Chatty Man is a BAFTA award-winning...,13.394,4.900,15,Actor,Cast,2009
29,Self,1,1994-08-14,[10767],217,Inside the Actors Studio,[US],en,Inside the Actors Studio,James Lipton sits down with some of the world'...,2.826,7.343,51,Actor,Cast,1994
30,Self,8,1996-07-22,"[10763, 35]",2224,The Daily Show,[US],en,The Daily Show,The World's Fakest News Team tackle the bigges...,283.339,6.358,533,Actor,Cast,1996

In [9]:
from pyspark.sql.functions import when

series_df = series_df.withColumn("character", when(series_df.character == "Samuel L. Jackson", "Self").otherwise(series.character))

series_df.toPandas()

,character,episode_count,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,vote_average,vote_count,job,department,year
0,Self,1.0,1999-11-01,[10763],3167,The Early Show,[US],en,The Early Show,The Early Show is an American morning televisi...,7.866,5.700,7,Actor,Cast,1999.0
1,Self,2.0,2005-01-03,"[35, 10767]",14981,The Late Late Show with Craig Ferguson,[US],en,The Late Late Show with Craig Ferguson,The Late Late Show with Craig Ferguson is an A...,383.153,6.755,94,Actor,Cast,2005.0
2,,1.0,2005-10-17,"[10763, 35]",4385,The Colbert Report,[US],en,The Colbert Report,The Colbert Report is an American satirical la...,189.580,6.800,261,Actor,Cast,2005.0
3,An Officer of the Law,1.0,2005-01-03,"[35, 10767]",14981,The Late Late Show with Craig Ferguson,[US],en,The Late Late Show with Craig Ferguson,The Late Late Show with Craig Ferguson is an A...,383.153,6.755,94,Actor,Cast,2005.0
4,,3.0,2005-11-06,"[10759, 35, 16]",2604,The Boondocks,[US],en,The Boondocks,When Robert “Granddad” Freeman becomes legal g...,86.301,8.164,342,Actor,Cast,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,,1.0,2013-02-25,"[10767, 35]",53438,Circus Halligalli,[DE],de,Circus Halligalli,"A late night talk show, hosted by Joko and Klaas.",20.735,5.400,9,Actor,Cast,2013.0
78,None,6.0,2023-06-21,"[18, 10765, 10759]",114472,Secret Invasion,[US],en,Secret Invasion,Nick Fury and Talos discover a faction of shap...,280.056,6.709,1089,Executive Producer,Production,2023.0
79,Nick Fury,6.0,2023-06-21,"[18, 10765, 10759]",114472,Secret Invasion,[US],en,Secret Invasion,Nick Fury and Talos discover a faction of shap...,280.056,6.709,1089,Actor,Cast,2023.0
80,Self,8.0,1996-07-22,"[10763, 35]",2224,The Daily Show,[US],en,The Daily Show,The World's Fakest News Team tackle the bigges...,283.339,6.358,533,Actor,Cast,1996.0
81,None,NaN,,[35],42533,Cordell And Coneil,[US],en,Cordell And Coneil,,0.844,0.000,0,Creator,Creator,NaN

### Creating dimensions

#### Date dimension

In [10]:
import pyspark.sql.functions as f
from pyspark.sql.functions import monotonically_increasing_id 

# Getting all dates from movies and series
date_dim = movies_df.withColumnRenamed("release_date", "date").select("date")

date_dim = date_dim.union(series_df.withColumnRenamed("first_air_date", "date").select("date"))

# Removing duplicated dates
date_dim = date_dim.drop_duplicates()

# Adding and index
date_dim = date_dim.select("*").withColumn("date_id", monotonically_increasing_id())

# Extracting relevant information from date

# Day, Month and Year
date_dim = date_dim.withColumns({"date_day": f.dayofmonth(date_dim.date), "date_month": f.month(date_dim.date), "date_year": f.year(date_dim.date)})

# Month Name

date_dim = date_dim.withColumn('date_month_name', f.date_format('date', 'MMMM'))

# Weekday
date_dim = date_dim.withColumn('date_weekday', f.dayofweek('date'))

# Name of the week day
date_dim = date_dim.withColumn('date_weekday_name', f.date_format('date', 'EEEE'))

# Quarter
date_dim = date_dim.withColumn('date_quarter', f.quarter('date'))

date_dim.toPandas()

,date,date_id,date_day,date_month,date_year,date_month_name,date_weekday,date_weekday_name,date_quarter
0,2014-03-20,0,20.0,3.0,2014.0,March,5.0,Thursday,1.0
1,2010-02-23,1,23.0,2.0,2010.0,February,3.0,Tuesday,1.0
2,2012-02-04,2,4.0,2.0,2012.0,February,7.0,Saturday,1.0
3,2011-07-22,3,22.0,7.0,2011.0,July,6.0,Friday,3.0
4,1990-08-17,4,17.0,8.0,1990.0,August,6.0,Friday,3.0
...,...,...,...,...,...,...,...,...,...
297,2019-11-29,297,29.0,11.0,2019.0,November,6.0,Friday,4.0
298,2013-09-24,298,24.0,9.0,2013.0,September,3.0,Tuesday,3.0
299,1996-07-22,299,22.0,7.0,1996.0,July,2.0,Monday,3.0
300,2013-02-25,300,25.0,2.0,2013.0,February,2.0,Monday,1.0
301,2023-06-21,301,21.0,6.0,2023.0,June,4.0,Wednesday,2.0

#### Genre dimension

In [11]:
genre_dim = genres

genre_dim.toPandas()

       id                name
0   10766                Soap
1   10759  Action & Adventure
2      27              Horror
3     878     Science Fiction
4      53            Thriller
5      36             History
6   10752                 War
7   10764             Reality
8   10770            TV Movie
9   10763                News
10  10749             Romance
11     18               Drama
12  10762                Kids
13  10765    Sci-Fi & Fantasy
14  10751              Family
15     80               Crime
16  10767                Talk
17     37             Western
18  10402               Music
19     99         Documentary
20  10768      War & Politics
21     16           Animation
22     14             Fantasy
23   9648             Mystery
24     12           Adventure
25     28              Action
26     35              Comedy

#### Media dimension

In [12]:
# The ideia of a media dimension is to merge participations in series and movies, so that the fact table only points at one dimension for audiovisual media

# Using SQL because its easier...
movies_df.createOrReplaceTempView("movies_df")
series_df.createOrReplaceTempView("series_df")

media_dim = spark.sql(
"""SELECT id as media_id, 'Series' as media_type, original_language as media_original_language, name as media_title, name as media_original_title, job as media_job, department as media_department, character as media_character, overview as media_overview
FROM series_df

UNION

SELECT id as media_id, 'Movie' as media_type, original_language as media_original_language, title as media_title, original_title as media_original_title, job as media_job, department as media_department, character as media_character, overview as media_overview
FROM movies_df""")

media_dim.toPandas()

,media_id,media_type,media_original_language,media_title,media_original_title,media_job,media_department,media_character,media_overview
0,4385,Series,en,The Colbert Report,The Colbert Report,Actor,Cast,,The Colbert Report is an American satirical la...
1,14652,Series,en,Iconoclasts,Iconoclasts,Actor,Cast,Self,Iconoclasts is a Sundance Channel show. Each e...
2,2604,Series,en,The Boondocks,The Boondocks,Actor,Cast,,When Robert “Granddad” Freeman becomes legal g...
3,89293,Series,de,Bambi Awards,Bambi Awards,Actor,Cast,Self,"The Bambi, often called the Bambi Award and st..."
4,1709,Series,en,Today,Today,Actor,Cast,Self,Today is a daily American morning television s...
...,...,...,...,...,...,...,...,...,...
326,98339,Movie,en,The Samaritan,The Samaritan,Executive Producer,Production,None,"After twenty years in prison, Foley is finishe..."
327,1613,Movie,en,The 51st State,The 51st State,Executive Producer,Production,None,An American master chemist plans to score big ...
328,45153,Movie,en,Eve's Bayou,Eve's Bayou,Producer,Production,None,Summer heats up in rural Louisiana beside Eve’...
329,876246,Movie,en,Enslaved with Samuel L Jackson,Enslaved with Samuel L Jackson,Executive Producer,Production,None,What happened to the 12 million Africans stole...
330,627725,Movie,en,The Banker,The Banker,Executive Producer,Production,None,"In the 1960s, two entrepreneurs hatch an ingen..."

#### Fact participation in media

In [13]:
media_dim.createOrReplaceTempView("media_dim")

samuel_media_participation_fact = spark.sql(
"""
SELECT id AS media_id, genre_ids, first_air_date as release_date, popularity as media_popularity, vote_average as media_vote_average, vote_count as media_vote_count
FROM series_df

UNION

SELECT id as media_id, genre_ids, release_date, popularity as media_popularity, vote_average as media_vote_average, vote_count as media_vote_count
FROM movies_df
"""
)

samuel_media_participation_fact.createOrReplaceTempView("media_par")
date_dim.createOrReplaceTempView("date_dim")

samuel_media_participation_fact = spark.sql(
"""
SELECT mp.media_id, mp.genre_ids, mp.media_popularity, mp.media_vote_average, mp.media_vote_count, dd.date_id
FROM media_par mp
LEFT JOIN date_dim dd ON mp.release_date = dd.date
"""
)

samuel_media_participation_fact.toPandas()

,media_id,genre_ids,media_popularity,media_vote_average,media_vote_count,date_id
0,1709,"[10763, 10767]",13.180,5.538,26,238
1,3167,[10763],7.866,5.700,7,236
2,2604,"[10759, 35, 16]",86.301,8.164,342,235
3,2693,[35],28.610,7.800,356,239
4,14981,"[35, 10767]",383.153,6.755,94,233
...,...,...,...,...,...,...
308,25566,"[18, 36]",12.368,7.006,160,228
309,376980,[],0.535,8.000,7,224
310,37835,[28],9.265,5.600,123,229
311,86300,[18],0.906,8.000,2,231
312,266547,"[18, 10770]",4.410,7.000,2,230

In [14]:
# The fact table should contain the FKs for the genres, not a list with genre_ids.

# exploding the genres list
samuel_media_participation_fact = samuel_media_participation_fact.withColumn("genre_id", f.explode_outer("genre_ids"))

# removing the genres list
samuel_media_participation_fact = samuel_media_participation_fact.drop("genre_ids")

samuel_media_participation_fact.toPandas()

,media_id,media_popularity,media_vote_average,media_vote_count,date_id,genre_id
0,1709,13.180,5.538,26,238,10763.0
1,1709,13.180,5.538,26,238,10767.0
2,3167,7.866,5.700,7,236,10763.0
3,2604,86.301,8.164,342,235,10759.0
4,2604,86.301,8.164,342,235,35.0
...,...,...,...,...,...,...
674,376980,0.535,8.000,7,224,NaN
675,37835,9.265,5.600,123,229,28.0
676,86300,0.906,8.000,2,231,18.0
677,266547,4.410,7.000,2,230,18.0
678,266547,4.410,7.000,2,230,10770.0

### Saving the fact and dimensions

In [15]:
genre_dim.write.parquet("../Gold/genres/dim_genre.parquet", mode="overwrite")

media_dim.write.parquet("../Gold/media/dim_media.parquet", mode="overwrite")

date_dim.write.parquet("../Gold/date/dim_date.parquet", mode="overwrite", partitionBy="date_year")

samuel_media_participation_fact.write.parquet("../Gold/media_participation/samuel_fact_media_participation.parquet", mode="overwrite")